<div fxLayout="column" class="container">
  <header>
    <mat-toolbar color="primary">
      <button mat-flat-button color="primary" routerLink="/">
        {{ (small$ | async) ? store.appNameShort : store.appName }}
      </button>
      <span fxFlex="1 1 auto"></span>
      <app-theme-toggle></app-theme-toggle>
      <app-github></app-github>
    </mat-toolbar>
  </header>
  <mat-sidenav-container fxFlex="1 1 auto">
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
