<header>
  <mat-toolbar color="primary">
    {{ (small$ | async) ? store.appNameShort : store.appName }}
    <span class="flex-spacer"></span>
    <mat-form-field id="dateInput" color="primary">
      <input
        autocomplete="off"
        [readonly]="readonlyTextInput"
        matInput
        [matDatepicker]="picker"
        [formControl]="dateControl"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-toolbar>
</header>
<section fxLayout="row" class="page" [ngSwitch]="loading$ | async">
  <mat-spinner class="center-abs-xy" *ngSwitchCase="true"></mat-spinner>
  <span fxFlex="1 1 auto"></span>
  <app-apod-card
    fxFlex="0 1 600px"
    *ngSwitchCase="false"
    [apod]="apod$ | async"
  >
  </app-apod-card>
  <span fxFlex="1 1 auto"></span>
</section>
