<section fxLayout="column" class="content" fxLayoutAlign="center center">
  <div class="apod-container" [ngSwitch]="loading$ | async">
    <mat-spinner class="center-abs-xy" *ngSwitchCase="true"></mat-spinner>
    <app-apod-card *ngSwitchCase="false" [apod]="apod$ | async">
    </app-apod-card>
  </div>
</section>
<footer>
  <mat-toolbar fxLayoutAlign="center center" fxLayoutGap="1rem" color="accent">
    <button
      *ngIf="backward$ | async as backward"
      (click)="next(backward)"
      mat-icon-button
    >
      <mat-icon [inline]="true">navigate_before</mat-icon>
    </button>
    <mat-form-field fxFlex="1 1 140px">
      <input
        autocomplete="off"
        [readonly]="readonlyTextInput"
        matInput
        [matDatepicker]="picker"
        [formControl]="dateControl"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button
      *ngIf="forward$ | async as forward"
      (click)="next(forward)"
      mat-icon-button
    >
      <mat-icon [inline]="true">navigate_next</mat-icon>
    </button>
  </mat-toolbar>
</footer>
