@import "variables.scss";

:host > .page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  > .content-container {
    overflow: auto;
    > .content {
      padding: $spacing-small;
    }
    > .apod-card {
      max-width: 960px;
    }
  }
  > footer {
    overflow: hidden; // idk, something overflows
    .mat-icon-button {
      @include mat-icon-button-size(50px);
    }
  }
}
