<mat-card *ngIf="apod">
  <mat-card-header>
    <mat-card-title>
      {{ apod.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ apod.date | date }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content id="content">
    <ng-container [ngSwitch]="apod.media_type">
      <app-image
        *ngSwitchCase="'image'"
        id="picture"
        [src]="apod.url"
        [title]="apod.imageTitle"
        appImageLightbox
      >
      </app-image>
      <app-youtube-player
        *ngSwitchCase="'video'"
        [videoId]="apod.youtubeVideoId"
      >
      </app-youtube-player>
    </ng-container>
    <p>{{ apod.explanation }}</p>
  </mat-card-content>
</mat-card>
