@import "variables.scss";

app-apod-card {
  #content {
    display: flex;
    flex-direction: column;
    gap: $spacing-small;
    #picture img {
      max-height: 50vh;
      object-fit: contain;
    }
  }
}
