@use '~@angular/material' as mat;
@import "./app.components.scss";

@include mat.core();

$apod-primary: mat.define-palette(mat.$indigo-palette);
$apod-accent: mat.define-palette(mat.$red-palette, A400, A100, A400);
$apod-warn: mat.define-palette(mat.$red-palette);

$apod-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $apod-primary,
      accent: $apod-accent,
      warn: $apod-warn,
    ),
  )
);

$apod-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $apod-primary,
      accent: $apod-accent,
      warn: $apod-warn,
    ),
  )
);

@include mat.all-component-themes($apod-theme-light);
@include app-components-theme($apod-theme-light);

.dark {
  @include mat.all-component-colors($apod-theme-dark);
}
