@import "~@angular/material/theming";
@import "./app.components.scss";

@include mat-core();

$apod-primary: mat-palette($mat-indigo);
$apod-accent: mat-palette($mat-red, A400, A100, A400);
$apod-warn: mat-palette($mat-red);

$apod-theme-light: mat-light-theme(
  (
    color: (
      primary: $apod-primary,
      accent: $apod-accent,
      warn: $apod-warn,
    ),
  )
);

$apod-theme-dark: mat-dark-theme(
  (
    color: (
      primary: $apod-primary,
      accent: $apod-accent,
      warn: $apod-warn,
    ),
  )
);

@include angular-material-theme($apod-theme-light);
@include app-components-theme($apod-theme-light);

.dark {
  @include angular-material-color($apod-theme-dark);
}
